<div class="vertical-menu ">
  <a href="/" class="active">Home</a>
  <a href="/products" >Products</a> 
  <a href="https://sp18-bse-090-a-terminal-b.herokuapp.com/" target_blank >First & Second Task</a>	
  <a href="#">Setting</a>
  <a href="#">Help</a>
  
</div>